{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "jsx": true
  },
  "extends": ["react-app", "eslint:recommended"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "17.0.1",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
      "forbidExtraProps"
    ]
  }
}
